/.bundle/
/.yardoc
/.history
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# macOS
.DS_Store

# rspec failure tracking
.rspec_status

# rbenv/rvm/...
.ruby-version
.ruby-gemset
.gems/
# validator working directory
/validator/
